<section class="qr-code-container" >
    
    <div
        class="inner-container"
        id="qr-code-id" 
        [ngStyle]="{'transform':'rotateY('+rotY()+'deg) rotateX('+rotX()+'deg)'}"
        >
            <div class="img top" [ngStyle]="{'background-image':'url(' + imgUrl() + ')'}"></div>
            <div class="img middle" [ngStyle]="{'background-image':'url(' + imgUrl() + ')'}"></div>
            <div class="img botto" [ngStyle]="{'background-image':'url(' + imgUrl() + ')'}"></div>

        </div>
        
        shouldRotate: {{shouldRotate()}}
        x:{{rotX()}}
        y:{{rotY()}}
    
</section>



